[DXR]
wwwroot=/
target_folder=/home/ncameron/dxr/src/tests/test_rust/target
temp_folder=/home/ncameron/dxr/src/tests/test_rust/temp
nb_jobs=4
disabled_plugins=buglink

[code]
source_folder=/home/ncameron/dxr/src/tests/test_rust/code
object_folder=/home/ncameron/dxr/src/tests/test_rust/code
build_command=make clean; make -j $jobs
